.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 80px );
    background: rgb(79,88,97);
    background: linear-gradient(170deg, rgba(79,88,97,1) 0%, rgba(100,132,164,1) 100%);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;

    font-size: 25px;
    color: white;
    opacity: 90%;
}

.header-img-container img {
    height: 70vh;
}

.scroll-container {
    position: absolute;
    color: white;
    opacity: 90%;
    bottom: 15px;
}
